.tbl-res {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(120, 120, 156);
}

.tbl-res-cell > p {
  display: inline;
  font-size: 0.9rem;
  font-weight: normal;
  color: rgb(85, 81, 81);
}
.tbl-res-row {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: rgb(218, 204, 204);
}

.tbl-res-cell {
  text-align: center;
  padding: 0.3rem;
}

.tbl-res-cell-1 {
  text-align: center;
  padding: 0.3rem;
  width: 100%;
  display: block;
}

#submit {
  background: rgb(154, 245, 154);
  margin-top: 2rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  width: 20%;
  font-weight: bold;
}
