.tbl-main {
  width: 100%;
  margin: 0.4rem;
  font-size: 1.2rem;
  text-align: center;
  background: rgb(167, 80, 80);
  border-radius: 0.4rem;
}

.tbl-row-1 {
  margin: 0;
  align-content: center;
}

.tbl-cell-1 > select,
.tbl-cell-1 > input {
  width: 90%;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  align-self: center;
}

i {
  cursor: pointer;
}
